* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	height: 80vh;
	width: 100%;
	background-color: dimgray;
}

.container {
	height: 70vh;
	margin: 0 auto;
	position: relative;
	width: 60vw;
}

.radio {
	visibility: hidden;
}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 0;
	transform: translateX(-50%);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.text {
	opacity: 0.5;
	position: relative;
}

img {
	width: 100%;
}


label {
  width: 20px;
  height: 20px;
  display: inline-block;
	cursor: pointer;
}

.controls {
	display: flex;
	justify-content: space-between;
}

.dot {
	display: inline-block;
	width: 15px;
  height: 15px;
  background: #cfcfcf;
  border-radius: 50%;
}


#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
	opacity: 1;
	z-index: 1;
	transform: translateX(0px);
}

#slide1:checked ~ .controls > .dots > label > .dot.dot_1,
#slide2:checked ~ .controls > .dots > label > .dot.dot_2,
#slide3:checked ~ .controls > .dots > label > .dot.dot_3,
#slide4:checked ~ .controls > .dots > label > .dot.dot_4 {
	background: green;
}
