* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Permanent Marker', cursive;
	background-color: black;
}

.wrapper {
	height: 80vh;
	width: 100%;
	background-color: dimgray;
}

.container {
	height: 70vh;
	margin: 0 auto;
	position: relative;
	width: 60vw;
}

.radio {
	visibility: hidden;
}

.slider {
	height: 100%;
	overflow: hidden;
	position: relative;

	border-radius: 20px;
}

.slides {
	height: inherit;
	width: 100%;
	z-index: 0;
	position: absolute;

	opacity: 0;
	transform: translateX(-50%);
	transition: all 400ms ease-in-out;
}

.text {
	position: absolute;
	font-size: 1.3em;

	opacity: 0;
	transform: translateX(-50%);
	transition: all 400ms ease-in-out;
}

.img {
	width: 100%;
	border-radius: 20px;
}


.label {
  width: 25px;
  height: 25px;
  display: inline-block;
	cursor: pointer;
}

.controls {
	display: flex;
	justify-content: space-between;
}

.dots {
	text-align: center;
	user-select: none;
}

.dot {
	display: inline-block;
	width: 15px;
  height: 15px;
  background-color: #cfcfcf;
  border-radius: 50%;

	transition: all 150ms ease-in;
}

.dot:hover {
	opacity: 0.7;
}

.dot:active {
	transform: scale(1.2);
	opacity: 1;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
	opacity: 1;
	z-index: 1;
	transform: translateX(0px);
}

#slide1:checked ~ .controls > .texts > .text1,
#slide2:checked ~ .controls > .texts > .text2,
#slide3:checked ~ .controls > .texts > .text3,
#slide4:checked ~ .controls > .texts > .text4 {
	opacity: 1;
	z-index: 1;
	transform: translateX(0px);
}

#slide1:checked ~ .controls > .dots > .label > .dot.dot_1,
#slide2:checked ~ .controls > .dots > .label > .dot.dot_2,
#slide3:checked ~ .controls > .dots > .label > .dot.dot_3,
#slide4:checked ~ .controls > .dots > .label > .dot.dot_4 {
	background-color: black;
}
